In [1]:
import pandas as pd

In [23]:
df = pd.read_csv('station.in', delim_whitespace=True, header=None, names=['ID', 'Lon', 'Lat', 'Depth', 'Name'])
df.head(30)

       ID      Lon      Lat  Depth                 Name
0   WL001  88.0300  21.6500    0.0           SagarRoads
1   WL002  88.1733  22.1928    0.0       DiamondHarbour
2   WL003  90.2700  21.8500    0.0             Dhulasar
3   WL004  85.6167  19.6967    0.0          ChilkaMouth
4   WL005  86.0500  19.8300    0.0      KushbhadraRiver
5   WL006  86.3667  19.9500    0.0    DeviRiverEntrance
6   WL007  86.7000  20.2667    0.0              Paradip
7   WL008  86.8065  20.4158    0.0           FalsePoint
8   WL009  87.0667  20.7833    0.0          ShortIsland
9   WL010  86.9694  20.7926    0.0               Dhamra
10  WL011  88.3177  22.5488    0.0  GardenReachCalcutta
11  WL012  89.8333  21.8420    0.0  TigerPointKhepupara
12  WL013  90.3667  22.0667    0.0      RabnabadChannel
13  WL014  91.8075  22.1841    0.0         NormansPoint
14  WL015  91.8333  21.8722    0.0       KutubdiaIsland
15  WL016  92.3094  20.6101    0.0      StMartinsIsland
16  WL017  92.9058  20.1277    0.0          AkyabSittwe
17  WL018  93.5500  19.4333    0.0             KyaukPyu
18  WL019  93.9204  18.9427    0.0          SearlePoint
19  WL020  94.0373  18.7524    0.0           SaguIsland
20  WL021  94.3500  18.3500    0.0            AndrewBay
21  WL022  94.5300  17.5833    0.0               GwaBay
22  WL023  80.3100  13.1000    0.0              Chennai
23  WL024  83.3216  17.6879    0.0        Visakhapatnam
24  WL025  94.2990  15.9600    0.0         HaingGuiKyun
25  WL026  91.8311  22.3216    0.0       Chittagong_IOC
26  WL027  91.8274  22.2434    0.0       Chittagong_SOB
27  WL028  89.4773  21.7887    0.0       HironPoint_MPA
28  WL029  91.8181  22.2719    0.0         KhalNo10_CPA
29  WL030  91.8200  22.2700    0.0         KhalNo18_CPA

In [10]:
df['Organization'] = df.Name.apply(lambda x: x.split('_')[1] if len(x.split('_'))==2 else '')
df.Organization.unique()

array(['', 'IOC', 'SOB', 'MPA', 'CPA', 'BIWTA', 'BWDB'], dtype=object)

In [11]:
df['Name'] = df.Name.apply(lambda x: x.split('_')[0])

In [21]:
df.where(
    df.Organization=="BWDB"
).dropna().drop(
    columns=['Depth']
).reset_index(
    drop=True
).to_csv('bwdb.csv', index=False)

In [16]:
df.where(
    df.Organization=="IOC"
).dropna().drop(
    columns=['Depth', 'Organization']
).reset_index(
    drop=True
).to_csv('ioc.csv', index=False)

In [15]:
df.where(
    df.Organization=="SOB"
).dropna().drop(
    columns=['Depth', 'Organization']
).reset_index(
    drop=True
).to_csv('sob.csv', index=False)

In [17]:
df.where(
    df.Organization=="MPA"
).dropna().drop(
    columns=['Depth', 'Organization']
).reset_index(
    drop=True
).to_csv('mpa.csv', index=False)

In [18]:
df.where(
    df.Organization=="CPA"
).dropna().drop(
    columns=['Depth', 'Organization']
).reset_index(
    drop=True
).to_csv('cpa.csv', index=False)

In [20]:
df.where(
    df.Organization=="BIWTA"
).dropna().drop(
    columns=['Depth']
).reset_index(
    drop=True
).to_csv('biwta.csv', index=False)